# Naive Bayes in Python

In [16]:
import numpy as np
import pandas as pd
from sklearn.naive_bayes import Multinomial
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [20]:
play_tennis = pd.read_csv("PlayTennis.csv")

In [21]:
play_tennis

     Outlook Temperature Humidity    Wind Play Tennis
0      Sunny         Hot     High    Weak          No
1      Sunny         Hot     High  Strong          No
2   Overcast         Hot     High    Weak         Yes
3       Rain        Mild     High    Weak         Yes
4       Rain        Cool   Normal    Weak         Yes
5       Rain        Cool   Normal  Strong          No
6   Overcast        Cool   Normal  Strong         Yes
7      Sunny        Mild     High    Weak          No
8      Sunny        Cool   Normal    Weak         Yes
9       Rain        Mild   Normal    Weak         Yes
10     Sunny        Mild   Normal  Strong         Yes
11  Overcast        Mild     High  Strong         Yes
12  Overcast         Hot   Normal    Weak         Yes
13      Rain        Mild     High  Strong          No

In [23]:
#we will need to convert the categorical information in our data into numbers.
#A LabelEncoder converts a categorical data into a number ranging from 0 to n-1,
#where n is the number of classes in the variable.

In [32]:
number = LabelEncoder()
play_tennis['Outlook'] = number.fit_transform(play_tennis['Outlook'])
play_tennis['Temperature'] = number.fit_transform(play_tennis['Temperature'])
play_tennis['Humidity'] = number.fit_transform(play_tennis['Humidity'])
play_tennis['Wind'] = number.fit_transform(play_tennis['Wind'])
play_tennis['Play Tennis'] = number.fit_transform(play_tennis['Play Tennis'])

In [34]:
play_tennis

    Outlook  Temperature  Humidity  Wind  Play Tennis
0         2            1         0     1            0
1         2            1         0     0            0
2         0            1         0     1            1
3         1            2         0     1            1
4         1            0         1     1            1
5         1            0         1     0            0
6         0            0         1     0            1
7         2            2         0     1            0
8         2            0         1     1            1
9         1            2         1     1            1
10        2            2         1     0            1
11        0            2         0     0            1
12        0            1         1     1            1
13        1            2         0     0            0

# one Column

In [57]:
train=play_tennis.iloc[0:11]
test=play_tennis.iloc[11:]

In [61]:
train,test

(    Outlook  Temperature  Humidity  Wind  Play Tennis
 0         2            1         0     1            0
 1         2            1         0     0            0
 2         0            1         0     1            1
 3         1            2         0     1            1
 4         1            0         1     1            1
 5         1            0         1     0            0
 6         0            0         1     0            1
 7         2            2         0     1            0
 8         2            0         1     1            1
 9         1            2         1     1            1
 10        2            2         1     0            1,
     Outlook  Temperature  Humidity  Wind  Play Tennis
 11        0            2         0     0            1
 12        0            1         1     1            1
 13        1            2         0     0            0)

In [79]:
model = GaussianNB()
model.fit(pd.DataFrame(train['Outlook']), pd.Series(train['Play Tennis']))

GaussianNB(priors=None)

In [97]:
pred = model.predict(pd.DataFrame(test['Outlook']))

In [98]:
pred

array([1, 1, 1], dtype=int64)

In [94]:
accuracy = accuracy_score(test['Play Tennis'], pred)
accuracy

0.66666666666666663

# 2 Column

In [99]:
train=play_tennis.iloc[0:11]
test=play_tennis.iloc[11:]

In [100]:
train,test

(    Outlook  Temperature  Humidity  Wind  Play Tennis
 0         2            1         0     1            0
 1         2            1         0     0            0
 2         0            1         0     1            1
 3         1            2         0     1            1
 4         1            0         1     1            1
 5         1            0         1     0            0
 6         0            0         1     0            1
 7         2            2         0     1            0
 8         2            0         1     1            1
 9         1            2         1     1            1
 10        2            2         1     0            1,
     Outlook  Temperature  Humidity  Wind  Play Tennis
 11        0            2         0     0            1
 12        0            1         1     1            1
 13        1            2         0     0            0)

In [102]:
model = GaussianNB()
model.fit(pd.DataFrame(train[['Outlook','Temperature']]), pd.Series(train['Play Tennis']))

GaussianNB(priors=None)

In [105]:
pred = model.predict_proba(pd.DataFrame(test[['Outlook','Temperature']]))

In [106]:
pred

array([[  5.86195688e-04,   9.99413804e-01],
       [  8.88929012e-04,   9.99111071e-01],
       [  1.61162494e-01,   8.38837506e-01]])

In [71]:
features = ["Outlook", "Temperature", "Humidity", "Wind"]
target = "Play Tennis"

In [72]:
features_train, features_test, target_train, target_test =train_test_split(play_tennis[features],play_tennis[target],test_size = 0.33,random_state = 54)

In [76]:
type(target_test)

pandas.core.series.Series

In [44]:
target_train

6     1
10    1
11    1
8     1
0     0
1     0
7     0
2     1
5     0
Name: Play Tennis, dtype: int64

In [45]:
features_test

    Outlook  Temperature  Humidity  Wind
4         1            0         1     1
12        0            1         1     1
9         1            2         1     1
3         1            2         0     1
13        1            2         0     0

In [37]:
model = GaussianNB()
model.fit(features_train, target_train)

GaussianNB(priors=None)

In [38]:
pred = model.predict(features_test)
accuracy = accuracy_score(target_test, pred)

In [87]:
type(features_test)

pandas.core.frame.DataFrame

In [41]:
print (model.predict([[1,2,0,1]]))

[1]